<div class="row">
  <div class="col-md-8">
    <div class="row">
      <div class="col-md-5">
        <input type="text" placeholder="Quoi faire ?" class="form-control input-sm" [(ngModel)]="tacheLibelle" name="nouvelleTache"><br>
      </div>

      <div class="col-md-5">
        <input type="date" class="form-control input-sm" [(ngModel)]="tacheDate" name="tacheDate">
      </div>

      <div class="col-md-2">
        <select class="form-control inpuy-sm" [(ngModel)]="tachePriorite" required>
          <option *ngFor="let priorite of priorites">{{priorite}}</option>
        </select>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <textarea class="form-control input-sm" rows="3" [(ngModel)]="tacheDescription" name="tacheDesc"></textarea>
      </div>
    </div>

    <br>
    <button class="btn btn-primary"
            (click)="ajouterTache(tacheLibelle, tacheDate, tachePriorite, tacheDescription)"
            [disabled]="!tacheLibelle || !tacheDate || !tacheDescription">
            Ajouter
    </button>


  </div>
</div>
